<html>
  <head>
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a class="logo" href="{{ "/" | relURL }}">
        <img src="/img/tower-logo.svg">
        <img src="/img/tower-claim.svg">
      </a>

      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    <section class="featured">
      <div class="container">
        {{ with .GetPage .Params.featured }}
          <article>
            <h2>{{ .Title }}</h2>
            {{ .Summary }}
            <p><a href="{{ .Permalink }}">Read more →</a></p>
          </article>
        {{ end }}
      </div>
    </section>

    <section class="content">
      <div class="container">
        <h1>{{ .Title }}</h1>

        {{ .Content }}
      </div>
    </section>

    <aside>
      <h2>{{ .Params.banner.headline }}</h2>
      <p>{{ .Params.banner.subline}}</p>
    </aside>

    <section class="listing">
      <div class="container">
        <h1>{{ .Params.listing_headline }}</h1>
        <div>
          {{ range .Params.listing }}
            {{ with $.GetPage . }}
              <article>
                <h2>{{ .Title }}</h2>
                {{ .Summary }}
                <p><a href="{{ .Permalink }}">Read more →</a></p>
              </article>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  </body>
</html>
